@import './mixins';

.wrapper {
    margin: 0 auto;
    padding: 0 auto;
    min-width: 1920px;
    min-height: 1080px;
}


.combo-meals-heading {
    border-bottom: 5px solid #d77942;
    color: #d77942;
    padding-bottom: 10px;
    width: 60%;
    @include fontSize(large);
    font-family: sans-serif;
    font-weight: 400;
}


///////////////////// MENU STYLES /////////////////////
.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.first-3-items, .last-3-items {
    @include item-section-styles;

    .item-container {
        display: flex;
        flex-direction: row-reverse;
        width: 900px;
        

        img {
            width: 40%; 
        }
        

        .item-details-outer-container {
            width: 60%;
            display: flex;
            flex-direction: row;
            align-self: center;
            

            .item-number {
                font-family: sans-serif;
                color: #68727b;
                font-size: 125px;
                margin-right: 25px;
            }
        

            .item-name {
                @include fontSize(medium);
                font-family: sans-serif;
                color: #68727b;
                margin-bottom: 5px;
            }
            

            .price-cals {
                @include price-cals-styles;
                @include fontSize(small);
            }
        }
    }
}


// ITEMS 3 AND 5 ADDITIONAL STYLES //
.item-3-price-cals-container, .item-5-price-cals-container {
    width: 450px;
    display: flex;
    flex-direction: row;
    

    .ct {
        @include ctstyles;
        @include fontSize(small);
    }
    

    .item-3-cals-wrap, .item-5-cals-wrap {
        word-spacing: .3em;
    }
}
// END ITEMS 3 AND 5 ADDITIONAL STYLES //


///////////////////// END MENU STYLES /////////////////////




