@mixin ctstyles {
    color: #d77942;
    font-family: sans-serif;
    font-size: 22.5px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: 20px;
}

@mixin price-cals-styles {
    color: #68727b;
    font-family: sans-serif;
    word-spacing: .3em;
    margin-top: 0;
    margin-bottom: 2.5px;
}

@mixin item-section-styles {
    height: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@mixin fontSize($size) {
    @if($size == large) {
        font-size: 75px;
    } @else if ($size == medium) {
        font-size: 55px;
    } @else if ($size == small) {
        font-size: 22.5px;
    } @else {
        font-size: 16px;
    }
}
